.items-container {
  display: flex;
  justify-content: space-between;
  width: 12in;

  .item {
    background-color: var(--soroush-lime);
    color: #000;
    font-size: medium;
    width: 18%;
    height: 200px;
    border: transparent solid 1px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    .desc{
      margin:10px
    }

    .circel-arrow-btn {
      width: 50%;
      height: 94px;
      background-color: #fff;
      border: transparent solid 1px;
      border-radius: 100%;
      box-shadow: 0px 3px 3px 1.5px var(--soroush-grey);
      transition: all 300ms ease-out;
    }

    .circel-arrow-btn:hover {
      transform: translateY(-10px);
    }
  }

  .larger-item {
    transform: scale(1.3);
    .large-desc {
      font-size: small;
    }
    .large-btn {
      background-color: var(--soroush-orange);
      color: #fff;
      height: min-content;
      width: 80%;
      margin-top: 30%;
      border: transparent solid 1px;
      border-radius: 10px;
      padding-bottom: 5px;
      transition: all 300ms;
    }
    .large-btn:hover {
      transform: translateY(-5px);
      filter: opacity(70%);
    }
  }
}
