<div class="container">
  <div class="links-container">
    <div class="links">
        <h3>مقاله ها</h3>
        <a>سمعک</a>
        <a>سرگیجه</a>
        <a>متخصص گوش</a>
        <a>سمعک یونیترون</a>
    </div>
    <div class="links">
        <h3>لینک های مهم</h3>
        <a>خرید سمعک</a>
        <a>ویزیت پزشک</a>
        <a>شنوایی سنجی</a>
        <a>تجویز و تنظیم سمعک</a>
        <a>ارزیابی سیستم تعادل</a>
    </div>
    <div class="links">
        <h3>اطلاعات تماس</h3>
        <p>8814098-8</p>
        <p>clinic.soroush</p>
    </div>
    <div class="links">
        <h3>آدرس کیلینیک</h3>
        <p>تهران:میدان هفت تیر،ابتدای پل کریمخان بعد از داروخانه سیزده آبان و خیابان حسینی،پلاک63 ،طبقه دوم.</p>
    </div>
    
  </div>
  <div class="dmca">
    <p>تمامی حقوق این وبسایت متعلق به کیلینیک شنوایی سنجی سروش می باشد.</p>
    <p>1401-2022</p>
  </div>
</div>
