.hr {
  background-color: var(--soroush-orange);
  width: 20vw;
  height: 10px;
  border: transparent solid 1px;
  border-radius: 20px;
    margin-left: 30vw;
}

.content-wrapper{
    width: 80vw;
    height: 500px;
    border: transparent solid 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #c4ec8950;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: var(--soroush-green);

    .container {
      display: flex;
      justify-content: space-around;
      height: 80%;
      margin-top: 5%;
      margin-bottom: 5%;


      .product-container{
        color: var(--soroush-green);
        border: var(--soroush-green) solid 3px;
        background-color: #fff;
        border-radius: 15px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        transition: all 300ms ease-out;
    
        .image-container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .description{
            text-align: center;
            font-size: large;
            font-weight: 700;
        }
      }
    
      .product-container:hover{
        transform: translateY(-10px);
        filter: saturate(130%);    
      }
    
      .selected{
        border-color: var(--soroush-orange);
        color: var(--soroush-orange);
      }
    }

    .page-indexer{
        display: inline;
        width: 10%;
        height: 3px;
        background-color: var(--soroush-green);
        margin: 5px;
    }
}

