.container{
    width: 80%;
    height: 30vh;
    background-color: var(--soroush-green);
    color: #fff;
    margin-left: 10vw;
    margin-right: 10vw;
    border: transparent solid 1px;
    border-radius: 3% 0% 0% 3%;
}